MANIFEST
build
dist
_build
docs/man/*.gz
docs/api/generated
docs/config.rst
docs/gh-pages
docs/pyhf.*.rst
docs/_*/
*.py[co]
__pycache__
*.egg-info
*.eggs
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage*
!.coveragerc
coverage*
*,cover

*.swp
*.map
.idea/
Read the Docs
config.rst

/.project
/.pydevproject

# pytest
.pytest_cache
htmlcov
.benchmarks
