repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-json
    - id: check-yaml
    - id: check-toml
    - id: check-xml
    - id: debug-statements
    - id: end-of-file-fixer
      # exclude generated files
      exclude: ^validation/|\.dtd$|\.json$|\.xml$
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace
      # exclude generated files
      exclude: ^validation/|\.dtd$|\.xml$
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    - id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
    - id: pyupgrade
      args: ["--py37-plus"]
-   repo: https://github.com/nbQA-dev/nbQA
    rev: v0.5.8-1-g1defb695ced783d6f67273a21bdd1951ea3f7e90
    hooks:
    - id: nbqa-black
      additional_dependencies: [black==20.8b1]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
