ci:
  autoupdate_commit_msg: "chore: [pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: monthly

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-json
    - id: check-yaml
    - id: check-toml
    - id: check-xml
    - id: debug-statements
    - id: end-of-file-fixer
      # exclude generated files
      exclude: ^validation/|\.dtd$|\.json$|\.xml$
    - id: mixed-line-ending
    - id: name-tests-test
      args: ["--pytest-test-first"]
    - id: requirements-txt-fixer
    - id: trailing-whitespace
      # exclude generated files
      exclude: ^validation/|\.dtd$|\.xml$

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
    - id: pyupgrade
      args: ["--py37-plus"]

-   repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
    - id: absolufy-imports

-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black-jupyter

-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    - id: blacken-docs
      additional_dependencies: [black==22.6.0]

-   repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
    - id: yesqa

-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.2
    hooks:
    - id: flake8
      args: ["--count", "--statistics"]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        files: src
        args: []
        additional_dependencies:
          ['numpy', 'torch', 'jax', 'types-tqdm', 'click', 'types-jsonpatch', 'types-pyyaml', 'types-jsonschema', 'importlib_metadata', 'packaging']

-   repo: https://github.com/nbQA-dev/nbQA
    rev: 1.4.0
    hooks:
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.37.3]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    - id: codespell
      files: ^.*\.(py|md|rst)$
      args: ["-w", "-L", "hist,gaus"]
