repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.3
    hooks:
    - id: pyupgrade
-   repo: https://github.com/nbQA-dev/nbQA
    rev: 0.4.0
    hooks:
    - id: nbqa-black
    - id: nbqa-pyupgrade
