# test matrix
dist: xenial
language: python
cache: pip
python:
  - '3.6'
  - '3.7'
before_install:
  - sudo apt-get install libtcmalloc-minimal4
  - export LD_PRELOAD="/usr/lib/libtcmalloc_minimal.so.4"
  - pip install --upgrade pip setuptools wheel
install:
  - if [[ $TRAVIS_DIST == 'trusty' ]]; then
      pip install --ignore-installed -U -q --no-use-pep517 --no-cache-dir -e .[complete];
    else
      pip install --ignore-installed -U -q --no-use-pep517 -e .[complete];
    fi
  - pip freeze
script:
  - pyflakes pyhf
  - python -m pytest -r sx --ignore tests/benchmarks/ --ignore tests/test_notebooks.py
  - if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then black --check --diff --verbose .; fi
after_success: if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then coveralls; fi
# Include to force matrix expansion but use trusty for Python 3.6 instead
matrix:
  exclude:
    - python: '3.6'

# always test (on both 'push' and 'pr' builds in Travis)
# test docs on 'pr' builds and 'push' builds on master
# benchmark and deploy to PyPI only when merged into master (those mereges are 'push' builds)
stages:
  - test
  - name: benchmark
    if: (branch = master) AND (NOT (type IN (pull_request)))
  - name: docs
    if: (branch = master)
  - name: binder
    if: (branch = master) AND (NOT (type IN (pull_request)))
  - name: deploy

env:
  global:
  - secure: fI08Hxg2PYUrvG9LHBqZZWRGGt7q4sAlWDQlwvpdrLgy/71dPOrNCiJrkhOjVBGc0/3aphgVPEu8ofHbcBWBWq4WJHmmz+nC8gEhjzn9ef0qSheLXoU+ee7ejxfIi2VD+M1BRRYSe9acHrUlXlCp4ffbpDeCF1zApGY7VWNVtuiKm8rOHDjc1aWuJ8FRpvNUbCQWi2CGop2FmzaXfYr9zC6lZlqNWD0/AckkWgig4ykrIZgYjonBl6HEF76WxRJcCyGKQQIx2MeTR0m1HXSgM3ZS2Iubf1H7xM6NJKDfgJOc8mLoDQJvP0ml0SJUL+Y1aYGoVgye1x3j4caB81DU/7OQK/0HPydCEpZekrR/1wRv3TJqPMxf/T2Kpj3mhiyM9GZg3P5sw7pS5gr3T9eqnfZor81sxtr5ZM7jUntXz7toLifz0j3mDpREgci1+u555QnakW6Xzfzz94DpKXSOLcH/iLl6EEXLvATopX2Ya822aXe9eazFAanNM/P49r91dxHYyvwse7z5Hwx+Mm71ckr1P53Z5U4QSKFOYUsWs+kw9PJWbz40Y08s6+DsCmdZ8IxWD4RCBUtqCjN+Up7ja77yuqDvYfoQbRrxYkPUYLCIeZ6bPxJYR6GWCc3F1wliRAZwmb/hnDKKSDx0mTOPA93uzDrXqF2vfRLwrd/u+00=

jobs:
  include:
  - dist: trusty
    python: '2.7'
  - dist: trusty
    python: '3.6'
  - name: "Python 2.7 Notebook Tests"
    python: '2.7'
    dist: trusty
    script:
      - python -m pytest tests/test_notebooks.py
    after_success: skip
  - name: "Python 3.6 Notebook Tests"
    python: '3.6'
    dist: trusty
    script:
      - python -m pytest tests/test_notebooks.py
    after_success: skip
  - name: "Python 3.7 Notebook Tests"
    python: '3.7'
    script:
      - python -m pytest tests/test_notebooks.py
    after_success: skip
  - stage: benchmark
    python: '3.7'
    before_install:
      - sudo apt-get install libtcmalloc-minimal4
      - export LD_PRELOAD="/usr/lib/libtcmalloc_minimal.so.4"
      - pip install --upgrade pip setuptools wheel
    install:
      - pip install --ignore-installed -U -q --no-use-pep517 -e .[complete]
      - pip freeze
    script: python -m pytest -r sx --benchmark-sort=mean tests/benchmarks/
    after_success: skip
  - stage: docs
    python: '3.7'
    before_install:
      - sudo apt-get update
      - sudo apt-get -qq install pandoc
      - sudo apt-get -qq install libtcmalloc-minimal4
      - export LD_PRELOAD="/usr/lib/libtcmalloc_minimal.so.4"
      - pip install --upgrade pip setuptools wheel
    install:
      - pip install --ignore-installed -U -q --no-use-pep517 -e .[complete]
      - pip freeze
    script:
      - python -m doctest README.md
      - cd docs && make html && cd -
      - touch docs/_build/html/.nojekyll
    after_success: echo "Skipping after_success"
    deploy:
      provider: pages
      skip_cleanup: true
      github_token: $GITHUB_TOKEN
      local_dir: docs/_build/html
      on:
        branch: master
  - stage: binder
    python: '3.7'
    before_install: skip
    install: skip
    script:
      # Use Binder build API to trigger repo2docker to build image
      - bash binder/trigger_binder.sh https://mybinder.org/build/gh/diana-hep/pyhf/"${TRAVIS_BRANCH}"
    after_success: skip
  - stage: deploy
    # Tests deployment to PyPI for all commits to master
    name: "TestPyPI deploy"
    if: (branch = master) AND type = push
    env:
      # Signal that setup.py should use use_scm_version with local_scheme
      TESTPYPI_UPLOAD: true
    python: '3.7'
    install: skip
    script: skip
    after_success: echo "Skipping after_success"
    deploy:
      provider: pypi
      server: https://test.pypi.org/legacy/
      username:
        secure: KDi40+7LVX2E/tWtVhGB/jWrNDqNiO+dKzqkbOTP7ZvGrMu3VIVA1KbfDiWxygd5rgC7UAQcqTFbUHnwuyFAmooIhH3fDwpzpugz5zzW4Hia0eBUanarw40DHlBS0wVzw+zZoLP/wltR8Dg75vp2awPTqrvFyq444Jgzzah+xhHwTYx4VB9oeMAoiS0OSLn561pR1N+nzSRMe3R1Sl8AZtPLTCgOZ5tZARZjqiqtYXfTEaMQPj/BNmVYatsaUkCkljZjiLv/uiL6Ushz/Y0dhPdVF63dKDTM6NvDxT+pBA/+58U6RqcRmMdlYmCurgKTJ5W4VAXckHXaYwu5pvrd1pxqPJ7oNvdpDZ9JktHsQog8IxVjoij8Je5T4iE3hjEH/Jm8yKUL2WlPeyLxV0S9xmSdhTIeTZgAtbPQgP0KN7SC1ZB/S7irstJ68PilHc/ZxBbYthGu0tPOmHHye+lzVyV6qAhZkbRFarro0MgWjJR9U8vM5JHFsEvBm7ghHaKDGd75wE9MDHqxftxXGKJbZ19OlRCqnte8LA8a1Wa0E5Iw3QPaG7eq2cBp3TwwECw0ipMBBXfOz4ZIIcDRC/vcnW03zf6ziWaZ152QAVsmiJqXnzFBV7thPA28vqQtv0vAdzXO8e2lROYz18z8m2LTdvG4DiNxkNlN7KHjK1i+VEg=
      password:
        secure: CqHxAg2GWY+7ogMKJYCqH8Eynmc1Xhh+WocntEfsJXOgsqksmHF5q9dp6IxGwrrts1ZWbxOs80mici2LSAxtHnVBAXfiqWm5cZ6nEv6+hvAzidvGO7Q2OVs3CIVKU4jCDg2BJIBo84Whqwe6T5S+DKUDo6PYQUtIvHqnO4PmDyB2Y2rLquavMqMkh8wIfFaDj51J5zm2aNdXx4349LvlMcW2yn0/Mh1t6yP1LUCkirCPjdIAljmqmrkxscEdCepR3sXjgYggpW/RLTXtMaUc/6Pz1Ax5uU3Y/mtuXT19lC+9PiFpciuLBvM6h0RjRz87tVE4US7DfbjZIIZFdrd97eog9Jqh0cDsD+lymgzTpeEaisXtDwBlI+osUtjB5d1rWCtsIu39fBRi368SLgBH3yrbYEIuNBzczeQ1wxMmJlWflQ/6nbPEaRxKpMZVjMRngdd8rccNj0vAJxsMlzqJZ99RbUjyMQ5n1JO1GU/9mnu1NH/+gZrvoGCLBaqKQDewrTkVKAMTmm/lti9hIEpgXr+U5KyAM0dtvU3ncLCEhIV6H9KujHx8S52hz/C1OJAXwh4otC2rnuiS21XhFfADJbVtXE9lBX0ANgc/pWs11Yu38ZbfoXnx5GkALuUnw2jZ2ZeEiugu5/dqlPTmleBgkxcRsVNx8/fft3raIscIYjM=
      distributions: "sdist bdist_wheel"
  - stage: deploy
    name: "PyPI deploy"
    if: (tag =~ v[0-9\.]*)
    python: '3.7'
    install: skip
    script: skip
    after_success: echo "Skipping after_success"
    deploy:
      provider: pypi
      on:
        tags: true
      username:
        secure: v0vpmWdTcorBuQ1YvMNN3fUSGfbjJGWA2lIw2/GD0OsTwWUbVnBq3f5yKyEm1PHNVAsDRZZ0Hbh0YFLjcxy5nVF1COaUVFWExETDJwTyclvjEsXCpdPt24LY3VC7aLS+bkJ1qo7xqlnPOgvdiNeO/bbZqta+9D6xFUrAo8Il/DU2HzehfURPSszFBqQF4zlA+CeOhwruguXZbhsYSBE2AwJ2m4In+jnXDONuz2Y8zsLZ6z+On9U7fg6g7/5ZtY9TA4aGdUhsx06JvuJ1ZedoJmB96hdDXOYprK9v/Dy5U2h/zljhATw9Cp2dSgm/fsdB+Kw/oJNmL9lTQTOT7e75LkZO9DfCyzDRgpv0jb7zAjrxiNQXFtQqZMMAQQLRRD1I2bbR7d1+qlxajrcPv1w/FkEIT9ZDCoX4X62mFIY/owkTVOWlqPSpPsZhU5blMHO2eu4xoInx3mmerVdqGFI4qhQDqGtZVitF/8wkA7wj1OTmifubaCdivaunZWaoF1G27yEk1RaouYC4Rw4gQDftjMd63sn9gGTTAmOkEio9zJ9DhWYLHSk+T7Rvtnfqb2ySlcl4HG3/x+doy09PBAyeYaUET/oM0W7Ap9OoA7J/M936b1PkCJAyZyeNLgFkefYXNOanp96ylLxMWKOqUshR9sJE+pZHMHsVyfgn8buIs6Y=
      password:
        secure: p6kDYM0L6CX9RFNnBpwhWiKUijgYoUY0Alxxqb6L8csnLhuYSB5fVgqoF2Xb9YQv8OuwdBay+TbCHCdps4QnDxEitL1sF98OoN6nBv5s7RvAk1byzWoJQml16QJs2ZcH130/GBYfmAKrcy07mfWJfLrXfbncgr85v6OZkiwj4irzvMt3SBziLK5/FBLTgjwNj+JTUuG0CLkwunKO5oedQ8Ix+S3gHM3ne8osKPEJpHpxMcVWXdT/4UHqb3mn5bYHKqPGvHNJM4PpJqohhL5KZCmRA+juTNUMfh6XOWR9UokxUFQJcPSQWCDwejfaCV2jS2p/rfV+3aUGYkORvKqgVUoQMceqyCHQLKhfGnIU7L4osqehBVEKcEPVctPtqCmR1EzUmrk2penDc+mrkzl+3UL3DA7BFubVlNGfC/zetnSURI8tdUEOKecOL3mKk6IcmFXZFg0t5OvoTYtdGa9ksNV+Z8RBKX8wkEN9IPf1pH6chEW6NmPSyOGMYW4gzKwHfmPAucMY7x4zx2ypAwu+CzqBzw/TA1/D/y1eG4OvAQjrI6PekkQUt0nEqJfGWRZ0NA5f4eswlAe6lPrrpJETRaPWgUDDIn19QHA0JI9+tuabgMKHhWNMbFi6RmfLxkxmdbGrhNhbypcC368QuQNDlhaV2e1sXEaJid2GJO6DqQA=
      distributions: "sdist bdist_wheel"
