# test matrix
language: python
cache: pip
python:
  - '2.7'
  - '3.6'
before_install:
  - sudo apt-get install libtcmalloc-minimal4
  - export LD_PRELOAD="/usr/lib/libtcmalloc_minimal.so.4"
  - pip install --upgrade pip setuptools wheel
install:
  - pip install --ignore-installed -U -q -e .[complete]
  - pip freeze
script:
  - pyflakes pyhf
  - pytest -r sx --ignore tests/benchmarks/ --ignore tests/test_notebooks.py
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then black --check --diff --verbose .; fi

# always test (on both 'push' and 'pr' builds in Travis)
# test docs on 'pr' builds and 'push' builds on master
# benchmark and deploy to PyPI only when merged into master (those mereges are 'push' builds)
stages:
  - test
  - name: benchmark
    if: (branch = master) AND (NOT (type IN (pull_request)))
  - name: docs
    if: (branch = master)
  - name: deploy
    if: (tag =~ v[0-9\.]*)

env:
  global:
  - secure: fI08Hxg2PYUrvG9LHBqZZWRGGt7q4sAlWDQlwvpdrLgy/71dPOrNCiJrkhOjVBGc0/3aphgVPEu8ofHbcBWBWq4WJHmmz+nC8gEhjzn9ef0qSheLXoU+ee7ejxfIi2VD+M1BRRYSe9acHrUlXlCp4ffbpDeCF1zApGY7VWNVtuiKm8rOHDjc1aWuJ8FRpvNUbCQWi2CGop2FmzaXfYr9zC6lZlqNWD0/AckkWgig4ykrIZgYjonBl6HEF76WxRJcCyGKQQIx2MeTR0m1HXSgM3ZS2Iubf1H7xM6NJKDfgJOc8mLoDQJvP0ml0SJUL+Y1aYGoVgye1x3j4caB81DU/7OQK/0HPydCEpZekrR/1wRv3TJqPMxf/T2Kpj3mhiyM9GZg3P5sw7pS5gr3T9eqnfZor81sxtr5ZM7jUntXz7toLifz0j3mDpREgci1+u555QnakW6Xzfzz94DpKXSOLcH/iLl6EEXLvATopX2Ya822aXe9eazFAanNM/P49r91dxHYyvwse7z5Hwx+Mm71ckr1P53Z5U4QSKFOYUsWs+kw9PJWbz40Y08s6+DsCmdZ8IxWD4RCBUtqCjN+Up7ja77yuqDvYfoQbRrxYkPUYLCIeZ6bPxJYR6GWCc3F1wliRAZwmb/hnDKKSDx0mTOPA93uzDrXqF2vfRLwrd/u+00=

jobs:
  include:
  - name: "Python 2.7 Notebook Tests"
    python: '2.7'
    script:
      - pytest tests/test_notebooks.py
  - name: "Python 3.6 Notebook Tests"
    python: '3.6'
    script:
      - pytest tests/test_notebooks.py
    after_success: coveralls
  - stage: benchmark
    python: '3.6'
    before_install:
      - pip install --upgrade pip setuptools wheel
    install:
      - pip install --ignore-installed -U -q -e .[complete]
      - pip freeze
    script: pytest -r sx --benchmark-sort=mean tests/benchmarks/
  - stage: docs
    python: '3.6'
    addons:
      chrome: stable
      apt:
        packages:
          - chromium-chromedriver
    before_install:
      - sudo apt-get update
      - sudo apt-get -qq install pandoc
      - sudo apt-get -qq install libtcmalloc-minimal4
      - export LD_PRELOAD="/usr/lib/libtcmalloc_minimal.so.4"
      - pip install --upgrade pip setuptools wheel
      - pip install selenium
    install:
      - pip install --ignore-installed -U -q -e .[complete]
      - pip freeze
    before_script:
      - ln --symbolic /usr/lib/chromium-browser/chromedriver "${HOME}/bin/chromedriver"
    script:
    - python -m doctest README.md
    - cd docs && make html && cd -
    - touch docs/_build/html/.nojekyll
    # Open Binder example in browser to trigger repo2docker to build image
    - python binder/trigger_binder.py --url https://mybinder.org/v2/gh/diana-hep/pyhf/master
    - python binder/trigger_binder.py --url https://mybinder.org/v2/gh/diana-hep/pyhf/master?filepath=docs%2Fexamples%2Fnotebooks%2Fbinderexample%2FStatisticalAnalysis.ipynb
    deploy:
      provider: pages
      skip_cleanup: true
      github_token: $GITHUB_TOKEN
      local_dir: docs/_build/html
      on:
        branch: master
  - stage: deploy
    python: '3.6'
    install: skip
    script: skip
    deploy:
      provider: pypi
      on:
        tags: true
      username:
        secure: v0vpmWdTcorBuQ1YvMNN3fUSGfbjJGWA2lIw2/GD0OsTwWUbVnBq3f5yKyEm1PHNVAsDRZZ0Hbh0YFLjcxy5nVF1COaUVFWExETDJwTyclvjEsXCpdPt24LY3VC7aLS+bkJ1qo7xqlnPOgvdiNeO/bbZqta+9D6xFUrAo8Il/DU2HzehfURPSszFBqQF4zlA+CeOhwruguXZbhsYSBE2AwJ2m4In+jnXDONuz2Y8zsLZ6z+On9U7fg6g7/5ZtY9TA4aGdUhsx06JvuJ1ZedoJmB96hdDXOYprK9v/Dy5U2h/zljhATw9Cp2dSgm/fsdB+Kw/oJNmL9lTQTOT7e75LkZO9DfCyzDRgpv0jb7zAjrxiNQXFtQqZMMAQQLRRD1I2bbR7d1+qlxajrcPv1w/FkEIT9ZDCoX4X62mFIY/owkTVOWlqPSpPsZhU5blMHO2eu4xoInx3mmerVdqGFI4qhQDqGtZVitF/8wkA7wj1OTmifubaCdivaunZWaoF1G27yEk1RaouYC4Rw4gQDftjMd63sn9gGTTAmOkEio9zJ9DhWYLHSk+T7Rvtnfqb2ySlcl4HG3/x+doy09PBAyeYaUET/oM0W7Ap9OoA7J/M936b1PkCJAyZyeNLgFkefYXNOanp96ylLxMWKOqUshR9sJE+pZHMHsVyfgn8buIs6Y=
      password:
        secure: p6kDYM0L6CX9RFNnBpwhWiKUijgYoUY0Alxxqb6L8csnLhuYSB5fVgqoF2Xb9YQv8OuwdBay+TbCHCdps4QnDxEitL1sF98OoN6nBv5s7RvAk1byzWoJQml16QJs2ZcH130/GBYfmAKrcy07mfWJfLrXfbncgr85v6OZkiwj4irzvMt3SBziLK5/FBLTgjwNj+JTUuG0CLkwunKO5oedQ8Ix+S3gHM3ne8osKPEJpHpxMcVWXdT/4UHqb3mn5bYHKqPGvHNJM4PpJqohhL5KZCmRA+juTNUMfh6XOWR9UokxUFQJcPSQWCDwejfaCV2jS2p/rfV+3aUGYkORvKqgVUoQMceqyCHQLKhfGnIU7L4osqehBVEKcEPVctPtqCmR1EzUmrk2penDc+mrkzl+3UL3DA7BFubVlNGfC/zetnSURI8tdUEOKecOL3mKk6IcmFXZFg0t5OvoTYtdGa9ksNV+Z8RBKX8wkEN9IPf1pH6chEW6NmPSyOGMYW4gzKwHfmPAucMY7x4zx2ypAwu+CzqBzw/TA1/D/y1eG4OvAQjrI6PekkQUt0nEqJfGWRZ0NA5f4eswlAe6lPrrpJETRaPWgUDDIn19QHA0JI9+tuabgMKHhWNMbFi6RmfLxkxmdbGrhNhbypcC368QuQNDlhaV2e1sXEaJid2GJO6DqQA=
      distributions: "sdist bdist_wheel"
