# core
scipy==1.4.1  # c.f. PR #1001
click==7.0
tqdm==4.56.0
jsonschema==3.0.0
jsonpatch==1.15
pyyaml==5.1
# xmlio
uproot3==3.14.1
uproot==4.0.0
# minuit
iminuit==2.4.0
# tensorflow
tensorflow==2.5.0  # c.f. PR #1001
tensorflow-probability==0.10.1
# torch
torch==1.8.0
# jax
jax==0.2.8
jaxlib==0.1.58
