# core
scipy==1.1.0
click==7.0
tqdm==4.56.0
jsonschema==3.0.0
jsonpatch==1.15
pyyaml==5.1
# xmlio
uproot==4.1.1
# minuit
iminuit==2.4.0
# tensorflow
tensorflow==2.3.1  # tensorflow-probability v0.11.0 requires tensorflow>=2.3
tensorflow-probability==0.11.0  # c.f. PR #1657
# torch
torch==1.10.0
# jax
# Use Google Cloud Storage buckets for long term wheel support
# c.f. https://github.com/google/jax/discussions/7608#discussioncomment-1269342
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jax==0.2.10
jaxlib==0.1.60  # jax v0.2.10 requires jaxlib>=0.1.60
