include pyhf/schemas/1.0.0/defs.json
include pyhf/schemas/1.0.0/measurement.json
include pyhf/schemas/1.0.0/model.json
include pyhf/schemas/1.0.0/workspace.json
include pyhf/schemas/HistFactorySchema.dtd
include LICENSE
