prune **

graft src
graft tests

include setup.py
include setup.cfg
include LICENSE
include README.rst
include pyproject.toml
include MANIFEST.in
include AUTHORS
include CITATION.cff

global-exclude __pycache__ *.py[cod]
