[build-system]
# Minimum requirements for the build system to execute.
requires = ["wheel", "setuptools>=30.3.0", "attrs>=17.1", "setuptools_scm[toml]>=3.4"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/pyhf/_version.py"
local_scheme = "no-local-version"

[tool.black]
line-length = 88
target-version = ['py37', 'py38']
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | .eggs
  | build
)/
'''

[tool.check-manifest]
ignore = [
    'docs*',
    'validation*',
    'examples*',
    'tests*',
    'docker*',
    'binder*',
    '.*',
    'pyproject.toml',
    'pytest.ini',
    'codecov.yml',
    'codemeta.json',
    'CODE_OF_CONDUCT.md',
    'CONTRIBUTING.md',
    'AUTHORS',
]

[tool.pytest.ini_options]
minversion = "6.0"
xfail_strict = true
addopts = [
    "-ra",
    "--cov=pyhf",
    "--cov-branch",
    "--showlocals",
    "--strict-markers",
    "--strict-config",
    "--cov-report=term-missing",
    "--cov-report=xml",
    "--cov-report=html",
    "--doctest-modules",
    "--doctest-glob='*.rst'",
]
filterwarnings = [
    "error",
    'ignore:the imp module is deprecated:DeprecationWarning',  # tensorflow
    'ignore:distutils Version classes are deprecated:DeprecationWarning',  # tensorflow-probability
    'ignore:the `interpolation=` argument to percentile was renamed to `method=`, which has additional options:DeprecationWarning',  # Issue #1772
    "ignore:The interpolation= argument to 'quantile' is deprecated. Use 'method=' instead:DeprecationWarning",  # Issue #1772
    'ignore:invalid value encountered in true_divide:RuntimeWarning',  #FIXME
    'ignore:invalid value encountered in add:RuntimeWarning',  #FIXME
    "ignore:In future, it will be an error for 'np.bool_' scalars to be interpreted as an index:DeprecationWarning",  #FIXME
    "ignore:Creating a tensor from a list of numpy.ndarrays is extremely slow. Please consider converting the list to a single numpy.ndarray with:UserWarning",  #FIXME
    'ignore:divide by zero encountered in log:RuntimeWarning',
    'ignore:divide by zero encountered in true_divide:RuntimeWarning',
]
log_cli_level = "info"
testpaths = "tests"
markers = [
    "fail_jax",
    "fail_numpy",
    "fail_numpy_minuit",
    "fail_pytorch",
    "fail_pytorch64",
    "fail_tensorflow",
    "only_jax",
    "only_numpy",
    "only_numpy_minuit",
    "only_pytorch",
    "only_pytorch64",
    "only_tensorflow",
    "skip_jax",
    "skip_numpy",
    "skip_numpy_minuit",
    "skip_pytorch",
    "skip_pytorch64",
    "skip_tensorflow",
]

[tool.nbqa.mutate]
pyupgrade = 1

[tool.nbqa.addopts]
pyupgrade = ["--py37-plus"]
