[tool.black]
line-length = 88
py36 = false  # Python 2 is still supported
skip-string-normalization = true
skip-numeric-underscore-normalization = true  # Python 2 is still supported
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | build
)/
'''
