[tool.black]
line-length = 88
py36 = false  # Python 2 is still supported
skip-string-normalization = true
skip-numeric-underscore-normalization = true  # Python 2 is still supported
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | .eggs
  | build
)/
'''

[tool.check-manifest]
ignore = [
    'docs*',
    'validation*',
    'examples*',
    'tests*',
    'docker*',
    'binder*',
    '.*',
    'pyproject.toml',
    'pytest.ini',
    'CODE_OF_CONDUCT.md',
    'CONTRIBUTING.md',
]
