github_url = "https://github.com/scikit-hep/pyhf/"

[version]
current = "0.7.0rc4"

# Example of a semver regexp.
# Make sure this matches current_version before
# using tbump
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  (rc
    (?P<candidate>\d+)
  )?
  '''

[git]
# The current version will get updated when tbump is run
message_template = "Bump version: 0.7.0rc4 → {new_version}"
tag_template = "v{new_version}"

# For each file to patch, add a [[file]] config
# section containing the path of the file, relative to the
# tbump.toml location.
[[file]]
src = "tbump.toml"
# Restrict search to make it explicit why tbump.toml
# is even included as a file to bump, as it will get
# its version.current attribute bumped anyway.
search = "Bump version: {current_version} → "

[[file]]
src = "src/pyhf/utils.py"
# Guard SCHEMA_VERSION
# This search is just identifying the line to restrict the
# regex to, but all matches in the line will get bumped.
search = "pyhf: v{current_version}"

[[file]]
src = "README.rst"

[[file]]
src = "src/pyhf/data/citation.bib"

[[file]]
src = ".zenodo.json"

[[file]]
src = "codemeta.json"

[[file]]
src = "CITATION.cff"

[[file]]
src = "docs/generate_jupyterlite_iframe.py"

[[file]]
src = "docs/jupyterlite.rst"

[[field]]
# the name of the field
name = "candidate"
# the default value to use, if there is no match
default = ""
