# jax
# Use Google Cloud Storage buckets for long term wheel support
# c.f. https://github.com/google/jax/discussions/7608#discussioncomment-1269342
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
click==8.0.0  # c.f. PR #1958, #1909
# minuit
iminuit==2.7.0  # c.f. PR #1895
importlib_resources==1.4.0  # c.f. PR #1979
jax==0.4.1  # c.f. PR #2079
jaxlib==0.4.1  # c.f. PR #2079
jsonpatch==1.15
jsonschema==4.15.0  # c.f. PR #1979
numpy==1.21.0 # constrained by jax v0.4.1
protobuf<4.21.0  # c.f. PR #2117
pyyaml==5.1
# core
scipy==1.5.1  # c.f. PR #2081
# tensorflow
tensorflow==2.7.0  # c.f. PR #1962
tensorflow-probability==0.11.0  # c.f. PR #1657
# torch
torch==1.10.0
tqdm==4.56.0
# xmlio
uproot==4.1.1
