# core
scipy==1.1.0
click==8.0.0  # c.f. PR #1958, #1909
tqdm==4.56.0
jsonschema==4.15.0  # c.f. PR #1979
jsonpatch==1.15
pyyaml==5.1
importlib_resources==1.4.0  # c.f. PR #1979
typing-extensions==3.7.4.3  # c.f. PR #1961, #1940
# xmlio
uproot==4.1.1
# minuit
iminuit==2.7.0  # c.f. PR #1895
# tensorflow
tensorflow==2.7.0  # c.f. PR #1962
tensorflow-probability==0.11.0  # c.f. PR #1657
# torch
torch==1.10.0
# jax
# Use Google Cloud Storage buckets for long term wheel support
# c.f. https://github.com/google/jax/discussions/7608#discussioncomment-1269342
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jax==0.2.10
jaxlib==0.1.61  # c.f. PR #1962
