name: CI/CD

on:
  push:
  pull_request:
    branches:
    - master
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'
  workflow_dispatch:

jobs:
  test:

    runs-on: ${{ matrix.os }}
    # On push events run the CI only on master by default, but run on any branch if the commit message contains '[ci all]'
    if: >-
      github.event_name != 'push'
      || (github.event_name == 'push' && github.ref == 'refs/heads/master')
      || (github.event_name == 'push' && github.ref != 'refs/heads/master' && contains(github.event.head_commit.message, '[ci all]'))
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9]
        exclude:
          - os: macos-latest
            python-version: 3.7
          - os: macos-latest
            python-version: 3.8

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install --upgrade .[test]

    - name: List installed Python packages
      run: python -m pip list

    - name: Test with pytest
      run: |
        pytest -r sx --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py

    - name: Report core project coverage with Codecov
      if: github.event_name != 'schedule' && matrix.python-version == 3.9 && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.xml
        flags: unittests

    - name: Test Contrib module with pytest
      run: |
        pytest -r sx tests/contrib --mpl --mpl-baseline-path tests/contrib/baseline

    - name: Report contrib coverage with Codecov
      if: github.event_name != 'schedule' && matrix.python-version == 3.9 && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.xml
        flags: contrib

    - name: Test docstring examples with doctest
      run: pytest -r sx src/

    - name: Test README examples with doctest
      run: pytest -r sx README.rst

    - name: Report doctest coverage with Codecov
      if: github.event_name != 'schedule' && matrix.python-version == 3.9 && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.xml
        flags: doctest

    - name: Run benchmarks
      if: github.event_name == 'schedule' && matrix.python-version == 3.9
      run: |
        pytest -r sx --benchmark-sort=mean tests/benchmarks/test_benchmark.py
