name: CI/CD

on:
  push:
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:
  test:

    strategy:
      matrix:
        platform: [ubuntu-latest, macOS-latest]
        python-version: [3.6, 3.7]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install --ignore-installed -U -q --no-cache-dir -e .[complete]
        pip list
    - name: Lint with Pyflakes
      if: matrix.python-version == 3.7 && matrix.platform == 'ubuntu-latest'
      run: |
        pyflakes src
        check-manifest
    - name: Lint with Black
      if: matrix.python-version == 3.7 && matrix.platform == 'ubuntu-latest'
      run: |
        black --check --diff --verbose .
    - name: Check MANIFEST
      if: matrix.python-version == 3.7 && matrix.platform == 'ubuntu-latest'
      run: |
        check-manifest
    - name: Test with pytest
      run: |
        python -m pytest -r sx --ignore tests/benchmarks/ --ignore tests/test_notebooks.py
    - name: Run benchmarks
      if: github.event_name == 'schedule' && matrix.python-version == 3.7
      run: |
        python -m pytest -r sx --benchmark-sort=mean tests/benchmarks/test_benchmark.py

  notebooks:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install --ignore-installed -U -q --no-cache-dir -e .[complete]
        pip list
    - name: Test example notebooks
      run: |
        python -m pytest -r sx tests/test_notebooks.py

  docs:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install --ignore-installed -U -q --no-cache-dir -e .[develop]
        pip list
        sudo apt-get update
        sudo apt-get -qq install pandoc
    - name: Test and build docs
      run: |
        python -m doctest README.md
        cd docs && make html && cd -
        touch docs/_build/html/.nojekyll
