name: HEAD of dependencies

on:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'
  workflow_dispatch:

jobs:
  release-candidates:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --no-cache-dir --quiet install --upgrade --pre .[test]
        python -m pip list

    - name: Test with pytest
      run: |
        pytest --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py

  scipy:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    # Use nightly SciPy wheels from Anaconda's PyPI
    # c.f. https://twitter.com/ralfgommers/status/1419917265781334025
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --no-cache-dir --quiet install --upgrade .[test]
        python -m pip uninstall --yes scipy
        python -m pip install --upgrade --index-url https://pypi.anaconda.org/scipy-wheels-nightly/simple scipy
        python -m pip list

    - name: Test with pytest
      run: |
        pytest --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py

  iminuit:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --no-cache-dir --quiet install --upgrade .[test]
        python -m pip uninstall --yes iminuit
        python -m pip install --upgrade cython
        python -m pip install --upgrade git+https://github.com/scikit-hep/iminuit.git
        python -m pip list
    - name: Test with pytest
      run: |
        pytest --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py

  uproot4:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --no-cache-dir --quiet install --upgrade .[test]
        python -m pip uninstall --yes uproot
        python -m pip install --upgrade git+https://github.com/scikit-hep/uproot4.git
        python -m pip list
    - name: Test with pytest
      run: |
        pytest --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py

  matplotlib:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --no-cache-dir --quiet install --upgrade .[test]
        python -m pip uninstall --yes scipy
        python -m pip install --upgrade --index-url https://pypi.anaconda.org/scipy-wheels-nightly/simple scipy
        python -m pip list

    - name: Test with pytest
      run: |
        pytest --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py

  pytest:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --no-cache-dir --quiet install --upgrade .[test]
        python -m pip uninstall --yes pytest
        python -m pip install --upgrade git+https://github.com/pytest-dev/pytest.git
        python -m pip list
    - name: Test with pytest
      run: |
        pytest --ignore tests/benchmarks/ --ignore tests/contrib --ignore tests/test_notebooks.py
