name: Minimum supported dependencies

on:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'
  workflow_dispatch:

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        # minimum supported Python
        python-version: ['3.8']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies and force lowest bound
      run: |
        python -m pip install uv
        uv pip install --system --upgrade pip setuptools wheel
        uv pip --no-cache install --system --constraint tests/constraints.txt ".[all,test]"

    - name: List installed Python packages
      run: uv pip list --system

    - name: Test with pytest
      run: |
        # Override the ini option for filterwarnings with an empty list to disable error on filterwarnings
        # as testing for oldest releases that work with latest API, not the oldest releases that are warning
        # free. Though still show warnings by setting warning control to 'default'.
        export PYTHONWARNINGS='default'
        # Run on tests/ to skip doctests of src given examples are for latest APIs
        pytest --override-ini filterwarnings= --ignore tests/contrib --ignore tests/benchmarks --ignore tests/test_notebooks.py tests/

    - name: Validate lower bound values
      run: >-
        uv pip --no-cache install
        --system
        --find-links https://storage.googleapis.com/jax-releases/jax_releases.html
        --upgrade
        --resolution lowest-direct
        ".[all]"

    - name: List installed Python packages
      run: uv pip list --system

    - name: Test with pytest
      run: |
        export PYTHONWARNINGS='default'
        pytest --override-ini filterwarnings= --ignore tests/contrib --ignore tests/benchmarks --ignore tests/test_notebooks.py tests/
