name: Current Release

on:
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:

  pypi_release:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v1.2.0
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install from PyPI
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install pyhf[backends,xmlio]
        python -m pip install 'pytest~=3.5' pytest-cov
        python -m pip list
    - name: Canary test public API
      run: |
        python -m pytest -r sx tests/test_public_api.py
